.main{
 
    height: 100vmin;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
     justify-content: center;
     cursor: pointer;
}



.firstDiv{
    width: 60%;
    height: 55vmin;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

  

        /* border: 2px solid red; */

}

.headline{
   
    font-size: 2.5vmin;
    border-bottom: 2px solid black;

}

.flag{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.year{
   
    font-size: 1.9vmin;
}

.team{
font-size: 1.9vmin;
}

.points{
    font-size: 1.9vmin;
}

.ranking{
    font-size: 1.9vmin;
}

.firstDivText{
        display: flex;
        align-items: center;
        height: 20vmin;
        padding-right: 10px;
        font-size: 1.9vmin;


        /* border: 2px solid red; */

}



.button{
    padding: 6px;
    height: 5vmin;
    width: 22vmin;
    cursor: pointer;
    border: 2.5px solid blue;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:7px ;
    font-size: 2vmin;
}
.button a{
    text-decoration: none;
    color: black;
}

.button:hover{
    transition: 750ms;
    transform: scale(.95);
    border: none;
    background-color: blue;
    color: white;
} 





@media only screen and (max-width:1200px) {


    .firstDiv {
            width: 60%;
            height: 60vmin;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
    
 
    
        }
    
        .headline {
    
            font-size: 2.5vmin;
    
        }
    
        .flag {
            height: 30px;
            width: 30px;
            margin-left: 10px;
        }
    
        .year {
    
            font-size: 1.9vmin;
        }
    
        .team {
            font-size: 1.9vmin;
        }
    
        .points {
            font-size: 1.9vmin;
        }
    
        .ranking {
            font-size: 1.9vmin;
        }
    
        .firstDivText {
            display: flex;
            align-items: center;
            height: 30vmin;
            padding-right: 10px;
            font-size: 1.9vmin;
    
    

    
        }
    

}




@media only screen and (max-width:992px) {


    .firstDiv {
        width: 60%;
        height: 65vmin;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

   

    }

    .headline {

        font-size: 2.5vmin;

    }

    .flag {
        height: 30px;
        width: 30px;
        margin-left: 10px;
    }

    .year {

        font-size: 1.9vmin;
    }

    .team {
        font-size: 1.9vmin;
    }

    .points {
        font-size: 1.9vmin;
    }

    .ranking {
        font-size: 1.9vmin;
    }

    .firstDivText {
        display: flex;
        align-items: center;
        height: 30vmin;
        padding-right: 10px;
        font-size: 1.75vmin;
        




    }


}








@media only screen and (max-width:768px) {


    .firstDiv {
        width: 75%;
        height: 65vmin;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

  



    }

    .headline {

        font-size: 2.7vmin;

    }

    .flag {
        height: 20px;
        width: 20px;
        margin-left: 10px;
    }

    .year {

        font-size: 2.1vmin;
    }

    .team {
        font-size: 2.1vmin;
    }

    .points {
        font-size: 2.1vmin;
    }

    .ranking {
        font-size: 2.1vmin;
    }

    .firstDivText {
        display: flex;
        align-items: center;
        max-height: 45vmin;
        padding-right: 10px;
        font-size: 2.3vmin;
        overflow: scroll;
        padding-top: 60px;


      

    }


}




@media only screen and (max-width:600px) {

    .main {
    
            height: 130vmin;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
        }


    .firstDiv {
        width:80%;
        height: 70vmin;
        display: flex;
        justify-content: space-around;
        flex-direction: column;





    }

    .headline {

        font-size: 2.8vmin;

    }

    .flag {
        height: 15px;
        width: 15px;
        margin-left: 10px;
    }

    .year {

        font-size: 2.3vmin;
    }

    .team {
        font-size: 2.3vmin;
    }

    .points {
        font-size: 2.3vmin;
    }

    .ranking {
        font-size: 2.3vmin;
    }

    .firstDivText {
        display: flex;
        align-items: center;
        max-height: 45vmin;
        padding-right: 10px;
        font-size: 2.2vmin;
        padding-top: 60px;
        overflow: scroll;

 


    }


}






@media only screen and (max-width:500px) {

    .main {

        height: 150vmin;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }


    .firstDiv {
        width: 80%;
        height: 75vmin;
        display: flex;
        justify-content: space-around;
        flex-direction: column;





    }

    .headline {

        font-size: 3.1vmin;

    }

    .flag {
        height: 15px;
        width: 15px;
        margin-left: 10px;
    }

    .year {

        font-size: 2.4vmin;
    }

    .team {
        font-size: 2.7vmin;
    }

    .points {
        font-size: 2.8vmin;
    }

    .ranking {
        font-size: 2.8vmin;
    }

    .firstDivText {
        display: flex;
        align-items: center;
        max-height: 45vmin;
        padding-right: 10px;
        font-size: 2.6vmin;
        padding-top: 60px;
        overflow: scroll;




    }


        .button {
            padding: 6px;
            height: 6.5vmin;
            width: 25vmin;
            cursor: pointer;
            border: 2.5px solid blue;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 7px;
            font-size: 2.7vmin;
        }


}




