
.main{
 
    min-height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
     justify-content: center;
     cursor: pointer;
}



.firstDiv{

     max-width: 50rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

  

        /* border: 2px solid red; */

}

.headline{
   
    font-size: 1.25rem;
    padding: 1em;
    border-bottom: 2px solid black;

}

.flag{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.year{
   
    font-size: 1rem;
    padding: .5em;

}

.team{
font-size: 1rem;
padding: .5em;
}

.points{
  font-size: 1rem;
    padding: .5em;
}

.ranking{

font-size: 1rem;
    padding: .5em;

}

.firstDivText{

    display: flex;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
     padding-left: .5em;


        font-size: 1rem;


        /* border: 2px solid red; */

}



.button{
    margin-left: .5em;
    padding: .5em;
    max-width: 9rem;
    border: .2em solid blue;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:.5em ;
    font-size:1rem;
}
.button a{
    text-decoration: none;
    color: black;
}

.button:hover{
    transition: 450ms;
    transform: scale(.98);
    border: none;
    background-color: blue;
    color: white;
} 





@media  (max-width:801px) {
.firstDiv {

        max-width: 40rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;



        /* border: 2px solid red; */

    }


}











@media (max-width:641px) {
.firstDiv {

        max-width: 95%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;



        /* border: 2px solid red; */

    }

    .headline {
    
            font-size: 1.1rem;
            padding: 1em;
            border-bottom: 2px solid black;
    
        }
    
        .flag {
            height: 30px;
            width: 30px;
            margin-left: 10px;
        }
    
        .year {
    
            font-size: .9rem;
            padding: .5em;
    
        }
    
        .team {
            font-size: .9rem;
            padding: .5em;
        }
    
        .points {
            font-size:.9rem;
            padding: .5em;
        }
    
        .ranking {
    
            font-size: .9rem;
            padding: .5em;
    
        }
    
        .firstDivText {
    
            display: flex;
            align-items: center;
            padding-top: 1.5em;
            padding-bottom: 1.5em;
            padding-left: .5em;
    
    
            font-size: .9rem;
    
    
            /* border: 2px solid red; */
    
        }
    
    
    
        .button {
            margin-left: .5em;
            padding: .5em;
            max-width: 8rem;
            border: .2em solid blue;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: .5em;
            font-size: .9rem;
        }



}














@media (max-width:500px) {

    .main {
    
            min-height: 85dvh;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
        }

    .firstDiv {

        max-width: 95%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;



        /* border: 2px solid red; */

    }

    .headline {

        font-size: 1rem;
        padding: 1em;
        border-bottom: 2px solid black;

    }

    .flag {
        height: 25px;
        width: 25px;
        margin-left: 10px;
    }

    .year {

        font-size: .85rem;
        padding: .5em;

    }

    .team {
        font-size: .85rem;
        padding: .5em;
    }

    .points {
        font-size: .85rem;
        padding: .5em;
    }

    .ranking {

        font-size: .85rem;
        padding: .5em;

    }

    .firstDivText {
        margin-bottom: 1em;
  
        display: flex;
        align-items: center;
        padding-top: 4em;
        padding-bottom: 1.5em;
        padding-left: .5em;

       scroll-margin-inline: 0;

        max-height: 18rem;
        overflow-y: scroll;

   


        font-size: .85rem;


        /* border: 2px solid red; */

    }



    .button {
        margin-left: .5em;
        padding: .5em;
        max-width: 8rem;
        border: .2em solid blue;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .5em;
        font-size: .85rem;
    }



}


