.nav{
  
    width: 100%;
    

    z-index: 600;
    cursor: pointer;
    /* padding: .25em; */
    background-color: black;
    border: none;
   

  
}


.headline{
    font-size: 1.3rem;
    margin-left: 10px;
    color: white;
}

.headline:hover{
    transition: 750ms;
    color: firebrick;
}

.navitems{
    font-size: .95rem;
}


.searchText{
    font-size: 1rem;
}

.button{
    padding: .5em;
    font-size: .9rem;
    min-width: 6rem;
    border-radius: .6em;
    border: .2em solid firebrick;
    background-color: white;
    color: black;
}

.button:hover{
    transition: 450ms;
    border: none;
    background-color:firebrick ;
    color: white;
}




 @media (max-width: 801px) {
.headline {
        font-size: 1.2rem;
        margin-left: 10px;
        color: white;
    }

    .headline:hover {
        transition: 750ms;
        color: firebrick;
    }

    .navitems {
        font-size: .9rem;
    }


    .searchText {
        font-size: .9rem;
    }

    .button {
        padding: .5em;
        font-size: .85rem;
        min-width: 6rem;
        border-radius: .6em;
        border: .2em solid firebrick;
        background-color: white;
        color: black;
    }

    .button:hover {
        transition: 450ms;
        border: none;
        background-color: firebrick;
        color: white;
    }
   
 }


