
.main {
    min-height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}



.firstDiv {
   padding: 1em;
    min-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.15rem;
    color: black;

   /* border: 2px solid green; */


}

.firstDivHeadline {
    padding-bottom: 1em;
    font-size: 1.35rem;
 

}




.secondDiv {
 
    max-width: 50rem;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    font-size: 1rem;



    color: black;

/* border: 2px solid teal; */

}


.secondDiv div{
    margin-bottom: 1em;
}


.secondDivHeadline {
    color: firebrick;
    border-bottom: .2em solid black;
    font-size: 1.1rem;
    padding-bottom: 1em;
    max-width: 20rem;

    

}


.exampleHeadline {
 
    min-width: 50rem;
    display: flex;
    align-items: flex-end;
    color: blue;
    font-size: 1.1rem;
    padding: 1em;

    border-bottom: .2em solid black;
    margin-bottom: 1em;


/* border: 2px solid red; */

}












.fourDiv {


    max-width: 50rem;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding-right: 10px;
    color: black;

/* border: 2px solid rgb(0, 255, 0); */

}



.fourDivRight {

    width: 40%;
    max-height: 10rem;
    padding-right: 10px;
    overflow-y: scroll;

}












@media (max-width: 801px) {

.firstDiv {
        padding: 1em;
        min-width: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1.1rem;
        color: black;

        /* border: 2px solid green; */


    }

    .firstDivHeadline {
        padding-bottom: 1em;
        font-size: 1.2rem;


    }




    .secondDiv {

        max-width: 40rem;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        font-size: 1rem;



        color: black;

        /* border: 2px solid teal; */

    }


    .secondDiv div {
        margin-bottom: 1em;
    }


    .secondDivHeadline {
        color: firebrick;
        border-bottom: .2em solid black;
        font-size: 1rem;
        padding-bottom: 1em;
        max-width: 20rem;



    }


    .exampleHeadline {

        min-width: 40rem;
        display: flex;
        align-items: flex-end;
        color: blue;
        font-size: 1rem;
        padding: 1em;

        border-bottom: .2em solid black;
        margin-bottom: 1em;


        /* border: 2px solid red; */

    }


    .fourDiv {


        max-width: 40rem;
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        padding-right: 10px;
        color: black;

        /* border: 2px solid rgb(0, 255, 0); */

    }



    .fourDivRight {

        width: 40%;
        max-height: 10rem;
        padding-right: 10px;
        overflow-y: scroll;

    }

    
}















@media (max-width: 641px) {

    .firstDiv {
        padding: 1em;
        min-width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1.1rem;
        color: black;

        /* border: 2px solid green; */


    }

    .firstDivHeadline {
        padding-bottom: 1em;
        font-size: 1rem;


    }




    .secondDiv {

        max-width: 95%;
        padding: .5em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        font-size: .9rem;



        color: black;

        /* border: 2px solid teal; */

    }


    .secondDiv div {
        margin-bottom: 1em;
    }


    .secondDivHeadline {
        color: firebrick;
        border-bottom: .2em solid black;
        font-size: 1rem;
        padding-bottom: 1em;
        max-width: 80%;



    }


    .exampleHeadline {

        min-width: 95%;
        display: flex;
        align-items: flex-end;
        color: blue;
        font-size: .9rem;
        padding: 1em;

        border-bottom: .2em solid black;
        margin-bottom: 1em;


        /* border: 2px solid red; */

    }


    .fourDiv {
       margin-top: 1em;
       margin-bottom: 1em;

        max-width: 95%;
        display: flex;
        
        justify-content: space-between;
        font-size: .9rem;
        padding-right: 10px;
        color: black;

        /* border: 2px solid rgb(0, 255, 0); */

    }



    .fourDivRight {
       display: none;
        width: 40%;
        max-height: 10rem;
        padding-right: 10px;
        overflow-y: scroll;

    }


}



