.main {


    width: 100%;
    padding: 4em;
    background-color: #292b2c;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.1rem;
    color: white;

}

.main a {
    text-decoration: none;
    color: white;
}

.main a:hover {
    transition: 750ms;
    color: white;
    transform: scale(1.1);
    border-bottom: 2px solid white;
    padding-bottom: 6px;

}




@media (max-width: 500px) {
.main {


        width: 100%;
        padding: 4em;
        background-color: #292b2c;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 1rem;
        color: white;

    }


}


